@import url('../colors.scss');




.footer {
    background: $color_bg;

    .btn {
        display: none;
    }

}

.footer-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0%;
        right: 0%;
        top: 159%;
        opacity: 0.1;
        height: 1px;
        background-color: $color_white;
    }

    .logo-menu {
        flex-direction: column;
    }

    .subtitle {
        color: $color_white;
    }


}

#demo-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#demo-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: $color_white;
    text-decoration: none;
    padding-right: 40px;

    &:hover {
        color: $color_btn-hover;
    }
}

ul {
    padding-left: 0rem;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding-bottom: 45px;

    #demo-nav a {
        padding-right: 60px;

    }
}

.social-icons {
    width: 122px;
    display: flex;
    justify-content: center;
    list-style: none;
    background-image: url("../../images/mainpage/social.svg");

    & a {
        position: relative;
        display: block;
        transition: .3s ease-in-out;
        width: 22px;
        height: 22px;
        margin-left: 12px;
        margin-right: 16px;
        border-radius: 8px;

        &:hover {
            background-color: $color_btn-hover;
            opacity: 0.5;
        }
    }
}
@media screen and (max-width: 768px) {
    .footer {
      padding-bottom: 20px;
    }
  
    .footer .btn {
      display: block;
      width: 100%;
    }
  
    .footer-menu {
      flex-direction: column;
      padding-top: 25px;
  
     
      &::after {
        top: 105%;
      }
    }
  
    .footer-menu #demo-nav {
      flex-direction: column;
    }
  
    .footer-menu #demo-nav li {
      padding-bottom: 20px;
    }
  
    .social {
      margin-top: 53px;
      justify-content: center;
      padding-bottom: 27px;
    }
  }
  