@import url('../colors.scss');



.logo {
    padding-right: 45px;
}

.navbar {
    padding-top: 25px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0%;
        right: 0%;
        top: 122%;
        opacity: 0.1;
        height: 1px;
        background-color: $color_white;

    }
}
.header__link {
    &.default-color {
      color: $color_black;
    }
  
    &.white-color {
      color: $color_white;
    }
}
.nav-link {
    position: relative;
    margin-right: 40px;
    font-size: 14px;
    &.default-color {
        color: $color_black;
      }
    
      &.white-color {
        color: $color_white;
      }

    &.active::before {
        content: '';
        position: absolute;
        width: 58px;
        left: 0%;
        right: 0%;
        top: 186%;
        height: 1px;
        background-color: $color_btn;
    }
}
.dropdown-toggle {
    color: inherit;
  }
.dropdown-toggle::after {
    color: $color_btn !important;
}
.dropdown-menu {
    .dropdown-item {
      color: $color_black;; 
    }
}

.btn {
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 17px 30px;
    color: $color_white;
    background: $color_btn;
}

@media screen and (max-width: 768px) {
  .nav-link.active::before {
    display: none;
  }

  .navbar-toggler {
    line-height: 1;
    color: transparent;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: var(--bs-navbar-toggler-transition);
  }

  .navbar-nav {
    padding-left: 35px;
    margin: 30px 0;
  }
}
