

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color:#353760;
  
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  opacity: 0.8;
  color:#77789E;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
